<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %X{user}:%X{ip} [%-40logger{0}] - %msg%n</Property>
        <Property name="LOG_ROOT_DIR">logs</Property>
    </Properties>
    <Appenders>
        <Console name="consoleLog" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="appLog"
                     fileName="${LOG_ROOT_DIR}/appInfo.log"
                     filePattern="${LOG_ROOT_DIR}/appInfo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <MarkerFilter marker="APP_INFO"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="appLogger" additivity="false">
            <AppenderRef ref="appLog" level="info"/>
            <AppenderRef ref="consoleLog"/>
        </Logger>

        <Root level="info" additivity="false">
            <AppenderRef ref="appLog" level="info"/>
            <AppenderRef ref="consoleLog"/>
        </Root>
    </Loggers>
</Configuration>