<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Body Lookout - заметки</title>
</head>
<body>
<h1>Список всех заметок</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>ФИО автора</th>
        <th>Категория</th>
        <th>Текст</th>
        <th>Дата создания</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${note_list.noteList}">
        <td th:text="${note.id}"></td>
        <td th:text="|${note.user.lastName} ${note.user.firstName} ${note.user.middleName}|"></td>
        <td th:text="${note.category.description}"></td>
        <td th:text="${note.text}"></td>
        <td th:text="${note.createdPretty}"></td>
    </tr>
    </tbody>
</table>
<br/>
<h2>Добавление новой заметки</h2>
<div th:with="urlNames=${T(ru.projects.format.constant.UrlNames)}">
    <form th:action="${urlNames.NOTES_ALL}" method="post" th:object="${note}">
        <input type="hidden" name="user" th:value="${user.id}" id="user"/><br/>

        <label>Категория:</label>
        <select th:field="*{category}">
            <option th:each="category : ${note_category_list.noteCategoryList}" th:value="${category.id}" th:text="${category.description}"></option>
        </select><br/>

        <label>Текст:</label>
        <textarea th:field="*{text}"></textarea><br/>

        <button type="submit">Создать</button>
    </form>
    <br/>
    <a th:href="${urlNames.ROOT}">На главную</a>
</div>
</body>
</html>